body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif;
  color: #495060;
  -webkit-font-smoothing: antialiased;
}

.badge {
  font-weight: normal;
}
/* fix AdminLTE */
.modal-content {
    border-radius: 4px;
}

.tools {
  padding-top:10px;
  padding-bottom:10px;
}

/* detail-view css */
.view-table td:hover {
  background-color: whitesmoke;
}
.view-label {
  min-width:100px;
  text-align: right;
  display: inline-block;
  padding-right:5px;
}

/* bootstrap3 table detail layout */
.view-bs3-table .table-field-col:hover {
  background-color: whitesmoke;
}

.view-bs3-table .view-cell {
  padding:0;
}

.view-bs3-table .table-field-label {
  min-width: 120px;
}

.view-bs3-table .table-field-label, .view-bs3-table .table-field-col {
  padding: 8px;
}

.view-bs3-table .table-field-col {
  border-bottom: 1px solid #ccc;
}
