.select2-container--default .select2-selection--multiple, #layout-body .select2-container--default .select2-selection--multiple {
  border-radius: 0px!important;
  /*min-height: 34px;*/
  border-color: #d2d6de;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice, #layout-body .select2-container--default .select2-selection--multiple .select2-selection__choice {
  color: black!important;
}
.select2-container--default .select2-selection--single, #layout-body .select2-container--default .select2-selection--single {
  border-radius: 0px!important;
  border-color: #d2d6de;
}
.select2-container .select2-selection--single, #layout-body .select2-container .select2-selection--single {
  height:34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow, #layout-body .select2-container--default .select2-selection--single .select2-selection__arrow {
  height:34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, #layout-body .select2-container--default .select2-selection--single .select2-selection__rendered {
  height:28px!important;
  padding-right: 10px;
  padding-left: 0px;
}

.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 34px!important;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__clear {
  height:23px;
  line-height:23px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  height: 23px;
  line-height: 23px;
  margin-top: 2px;
}
.select2-container--default .select2-search--inline .select2-search__field {
  /*margin-top:0!important;*/
  /*height: 34px;
  line-height: 34px;*/
}
