{%##
<t:breadcrumb>
    <a href="#" title="Home"></a>
    <a href="#" title="Library"></a>
    <a title="Data"></a>
</t:breadcrumb>

==>

<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ul>
##%}
<ul class="breadcrumb">
    {%for i, li in enumerate(a):
        active = li['_attrs'].get('active')
        title = li['_attrs'].get('title')
        href = li['_attrs'].get('href')%}
        {%if i == len(a)-1:%}
        <li class="{%=active%}">{%=title%}</li>
        {%else:%}
        <li><a href="{%=href%}">{%=title%}</a></li>
        {%pass%}
    {%pass%}
</ul>